.aptdetails{
    margin-top:5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    border: 1px solid rgb(200, 200, 200);

}
.thumbs{
    height: 50%;
    width: 80%;
}

.gallery{
    height:40%;
}

.map1{
 height: 40%;
}