

<div class="container">
    <div class="row">
        <div class="col-md-16 col-xs-12">
            <div class="well panel panel-default">
                <div class="panel-body profile-info">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 text-center">

                                <img ng-src= "{{profilePicUrl}}" alt="" class="center-block img-circle img-thumbnail img-responsive">

                            <div ng-show="!showUpload">
                                <button type="button" class="btn btn-default btn-sm" ng-click="editPic()">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Photo
                                </button>
                            </div>
                            <div ng-show="showUpload">
                                <input class="form-control" type="file" accept="image/*" id="imgFile" />
                                <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-upload" ng-click="uploadPic()"></button>
                            </div>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-6" ng-show="!editProfile">
                            <h2>{{user.userDetails.firstName}} {{user.userDetails.lastName}}</h2>
                            <p><strong>Age: </strong> {{user.userDetails.age}} years </p>
                            <p><strong>Looking for: </strong> {{user.userPref.lookingFor}} </p>
                            <p><strong>Near: </strong>
                                <span class="label label-info tags">{{user.userPref.zip}}</span>

                            </p>
                            <button type="button" class="btn btn-default btn-sm" ng-click="editProfileInfo()">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Info
                            </button>
                        </div>
                        <div class="col-xs-12 col-sm-6" ng-show="editProfile">
                            <input class="form-control" type="text" ng-model="user.userDetails.firstName"> <input class="form-control" type="text" ng-model="user.userDetails.lastName">
                            <p><strong>Age: </strong> <input class="form-control" type="number" ng-model="user.userDetails.age"> years </p>
                            <p><strong>Looking for: </strong> {{user.userPref.lookingFor}} </p>
                            <p><strong>Near: </strong>
                                <span class="label label-info tags">{{user.userPref.zip}}</span>

                            </p>
                            <button type="button" class="btn btn-default btn-sm" ng-click="saveProfileInfo()">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Save
                            </button>
                        </div>

                        <!--/col-->


                        <!--/col-->

                    </div>
                    <!--/row-->
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>

<div class="container">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#/profile">About</a></li>
        <li role="presentation"><a href="#/profile-likes">Likes</a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" ng-show="showDisplay">
        <thead>
        <th>Preferences</th>
        <th>My Details
            <button type="button" class="btn btn-default btn-sm" ng-click="edit()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </button></th>
        <th>Roommate Preference
            </th>
        </thead>

        <tbody>
        <tr>
            <td> Employment </td>
            <td>{{user.userDetails.employment}}  </td>
            <td> {{user.userRoommatePref.employment}} </td>
        </tr>
        <tr>
            <td> Education </td>
            <td>{{user.userDetails.education}}   </td>
            <td>{{user.userRoommatePref.education}}</td>
        </tr>
        <tr>
            <td> Smoke </td>
            <td>{{user.userLifestyle.smoke}}  </td>
            <td> {{user.userRoommatePref.smoke}} </td>
        </tr>
        <tr>
            <td> Late Night Parties </td>
            <td>{{user.userLifestyle.parties}} </td>
            <td> {{user.userRoommatePref.parties}} </td>
        </tr>
        <tr>
            <td> Drug Usage </td>
            <td>{{user.userLifestyle.drugs}}</td>
            <td> {{user.userRoommatePref.pets}} </td>
        </tr>
        <tr>
            <td> Food Preference </td>
            <td> {{user.userLifestyle.food}} </td>
            <td> {{user.userRoommatePref.food}}</td>
        </tr>
        <tr>
            <td> Alcohol </td>
            <td>{{user.userLifestyle.alcohol}}  </td>
            <td> {{user.userRoommatePref.alcohol}} </td>
        </tr>
        <tr>
            <td> Language</td>
            <td>

                    <span ng-repeat="language in user.userDetails.languages" class="label label-info tags">{{language}}</span>

            </td>
            <td><div ng-repeat="language in user.userRoommatePref.languages">
                <span class="label label-info tags">{{language}}</span>
            </div></td>
        </tr>
        <tr>
            <td> Hometown </td>
            <td>{{user.userDetails.hometown}}  </td>
            <td> {{user.userRoommatePref.hometown}} </td>

        </tr>
        <tr>
            <td> Pets </td>
            <td>{{user.userLifestyle.pets}}  </td>
            <td> {{user.userRoommatePref.pets}}</td>
        </tr>

        </tbody>
    </table>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" ng-show="showEdit">
                <thead>
                <th>Preferences</th>
                <th>My Details
                    <button type="button" class="btn btn-default btn-sm" ng-click="updatePref()">
                        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
                    </button></th>
                <th>Roommate Preference
                   </th>
                </thead>

                <tbody>
                <tr>
                    <td> Employment </td>
                    <td>
                        <input class="form-control" type="text" ng-model="user.userDetails.employment" placeholder="Profession" >  </td>
                    <td>
                        <input class="form-control" type="text" ng-model="user.userRoommatePref.employment" placeholder="Profession" >  </td>
                    </td>
                </tr>
                <tr>
                    <td> Education </td>
                    <td><input class="form-control" type="text" ng-model="user.userDetails.education" placeholder="Highest Degree of education">  </td>
                    <td> <input class="form-control" type="text" ng-model="user.userRoommatePref.education" placeholder="Highest Degree of education"> </td>
                </tr>
                <tr>
                    <td> Smoke </td>
                    <td><input class="form-control" type="text" ng-model="user.userLifestyle.smoke" placeholder="Yes/No/Sometimes">  </td>
                    <td><input class="form-control" type="text" ng-model="user.userRoommatePref.smoke" placeholder="Yes/No/Sometimes">   </td>
                </tr>
                <tr>
                    <td> Late Night Parties </td>
                    <td><input class="form-control" type="text" ng-model="user.userLifestyle.parties" placeholder="Yes/No/Sometimes"> </td>
                    <td> <input class="form-control" type="text" ng-model="user.userRoommatePref.parties" placeholder="Yes/No/Sometimes"> </td>
                </tr>
                <tr>
                    <td> Drug Usage </td>
                    <td><input class="form-control" type="text" ng-model="user.userLifestyle.drugs" placeholder="Yes/No/Sometimes"></td>
                    <td> <input class="form-control" type="text" ng-model="user.userRoommatePref.drugs" placeholder="Yes/No/Sometimes"> </td>
                </tr>
                <tr>
                    <td> Food Preference </td>
                    <td><input class="form-control" type="text" ng-model="food" placeholder="input comma-separated" > </td>
                    <td> <input class="form-control" type="text" ng-model="food1" placeholder="input comma-separated" ></td>
                </tr>
                <tr>
                    <td> Alcohol </td>
                    <td><input class="form-control" type="text" ng-model="user.userLifestyle.alcohol" placeholder="Yes/No/Sometimes"> </td>
                    <td> <input class="form-control" type="text" ng-model="user.userRoommatePref.alcohol" placeholder="Yes/No/Sometimes"> </td>
                </tr>
                <tr>
                    <td> Languages</td>
                    <td>
                        <input class="form-control" type="text" ng-model="languages" placeholder="input comma-separated">
                    </td>
                    <td> <input class="form-control" type="text" ng-model="languages1" placeholder="input comma-separated"></td>
                </tr>
                <tr>
                    <td> Hometown </td>
                    <td><input class="form-control" type="text" ng-model="user.userDetails.hometown" placeholder="Hometown"> </td>
                    <td> <input class="form-control" type="text" ng-model="user.userRoommatePref.hometown" placeholder="Hometown"> </td>

                </tr>
                <tr>
                    <td> Pets </td>
                    <td><input class="form-control" type="text" ng-model="user.userLifestyle.pets" placeholder="Dogs/Cats/No/Other Specify"> </td>
                    <td> <input class="form-control" type="text" ng-model="user.userRoommatePref.pets" placeholder="Dogs/Cats/No/Other Specify"> </td>
                </tr>

                </tbody>
            </table>
        </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-16 col-xs-12">
            <div class="well panel panel-default">
                <div class="panel-body">

                        <!--/col-->
                        <div class="col-xs-12 col-sm-6" ng-show="editContactInfo">
                            <h2>Contact Details
                                <button type="button" class="btn btn-default btn-sm" ng-click="editContact()">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Edit
                            </button></h2>
                            <div>
                                <p><strong>Email: </strong> {{user.userDetails.email}} </p>
                                <p><strong>Phone </strong>  {{user.userDetails.phone}} </p>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6" ng-show="!editContactInfo">
                            <h2>Contact Details
                                <button type="button" class="btn btn-default btn-sm" ng-click="saveContact()">
                                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
                                </button></h2>
                            <div>
                                <p><input class="form-control" type="email" ng-model="user.userDetails.email" placeholder="email"> </p>
                                <p><input class="form-control" type="tel" ng-model="user.userDetails.phone" placeholder="phone"></p>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-3">
                           <p>Your contact information would be visible to those people whom you like and they like you back</p>
                            <a href="#/profile-likes">Click here to see your likes</a>
                        </div>
                        <!--/col-->


                        <!--/col-->

                    </div>
                    <!--/row-->
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
