
<div class="container">
    <div class="row">
        <div class="col-md-16 col-xs-12">
            <div class="well panel panel-default">
                <div class="panel-body profile-info">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 text-center">

                            <img ng-src= "{{profilePicUrl}}" alt="" class="center-block img-circle img-thumbnail img-responsive">

                            <div ng-show="!showUpload">
                                <button type="button" class="btn btn-default btn-sm" ng-click="editPic()">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Photo
                                </button>
                            </div>
                            <div ng-show="showUpload">
                                <input class="form-control" type="file" accept="image/*" id="imgFile" />
                                <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-upload" ng-click="uploadPic()"></button>
                            </div>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-6" ng-show="!editProfile">
                            <h2>{{user.userDetails.firstName}} {{user.userDetails.lastName}}</h2>
                            <p><strong>Age: </strong> {{user.userDetails.age}} years </p>
                            <p><strong>Looking for: </strong> {{user.userPref.lookingFor}} </p>
                            <p><strong>Near: </strong>
                                <span class="label label-info tags">{{user.userPref.zip}}</span>

                            </p>
                            <button type="button" class="btn btn-default btn-sm" ng-click="editProfileInfo()">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Info
                            </button>
                        </div>
                        <div class="col-xs-12 col-sm-6" ng-show="editProfile">
                            <input class="form-control" type="text" ng-model="user.userDetails.firstName"> <input class="form-control" type="text" ng-model="user.userDetails.lastName">
                            <p><strong>Age: </strong> <input class="form-control" type="number" ng-model="user.userDetails.age"> years </p>
                            <p><strong>Looking for: </strong> {{user.userPref.lookingFor}} </p>
                            <p><strong>Near: </strong>
                                <span class="label label-info tags">{{user.userPref.zip}}</span>

                            </p>
                            <button type="button" class="btn btn-default btn-sm" ng-click="saveProfileInfo()">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Save
                            </button>
                        </div>

                        <!--/col-->


                        <!--/col-->

                    </div>
                    <!--/row-->
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>

<div class="container">
    <ul class="nav nav-tabs">
        <li role="presentation" ><a href="#/profile">About</a></li>
        <li role="presentation" class="active"><a href="#/profile-likes">Likes</a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>People you Like</th>
            </tr>
            <!--<th>People who Like you </th>!-->

            </thead>

            <tbody>
            <tr ng-repeat="likes in likesUser">
                <td>{{likes}}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>People who like you</th>
            </tr>
            <!--<th>People who Like you </th>!-->

            </thead>

            <tbody>
            <tr ng-repeat="likes in likedByUsers">
                <td>{{likes}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>