
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

    <div class="search-div" ng-controller="ApartmentController">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="aptdetails col-md-12">
                        <div class="col-md-4">
                            <img src="http://www.execustay.com/about-execustay/furnished-apartments.jpg" alt="Texto Alternativo" class="img-square img-thumbnail thumbs">
                        </div>
                        <div class="col-md-8" ng-show="editListingInfo">
                            <p>Beds:{{listing.beds}} Baths:{{listing.baths}} Rent:${{listing.rent}}</p>
                            <p>Available from {{listing.startDate}}</p>
                            <p> {{listing.amenities}} </p>
                            <p>Owner: {{landlord.firstName}} {{landlord.lastName}}</p>
                            <p>Email: {{landlord.email}}</p>
                            <p>Phone: {{landlord.phone}}</p>
                        <div ng-show="isLandlord">
                            <button type="button" class="btn btn-default btn-sm" ng-click="editListing()">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </button>
                        </div>
                        </div>
                        <div class="col-md-8" ng-show="!editListingInfo">
                            <p>Beds:<input type="number" ng-model="listing.beds">
                                Baths:<input type="number" ng-model="listing.baths">
                                Rent:$<input type="number" ng-model="listing.rent"> </p>
                            <p>Available from <input placeholder="Available from" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  id="date" ng-model="listing.startDate"></p>
                            <p>Amenities <input type="text" placeholder="Input comma separated" ng-model="amenities"> </p>
                            <p>Owner: {{landlord.firstName}} {{landlord.lastName}}</p>
                            <p>Email: {{landlord.email}}</p>
                            <p>Phone: {{landlord.phone}}</p>
                            <div ng-show="isLandlord">
                                <button type="button" class="btn btn-default btn-sm" ng-click="saveListing()">
                                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
                                </button>
                            </div>
                        </div>

                    </div>
                    </div>
                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <div ng-show="!editAdd">
                            <h3>Address:{{listing.address}}</h3>
                            <div ng-show="isLandlord">

                                <button type="button" class="btn btn-default btn-sm" ng-click="editAddress()">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                </button>
                            </div>
                        </div>
                        <div ng-show="editAdd">
                            <h3>Address:<input type="text" placeholder="address" id="address" size="30" ng-model="listing.address"> </h3>
                            <div ng-show="isLandlord">
                                <p>Add a space after selecting the address and then hit save</p>
                                <button type="button" class="btn btn-default btn-sm" ng-click="saveAddress()">
                                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
                                </button>
                            </div>
                        </div>
                        <div id="map1" class="map1">

                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3>Photos</h3>
                       <!-- <li ng-repeat="image in listing.photosUrl">
                            <a>
                                <img ng-src={{imgsrc}} imageonload={{generatePicUrl(image)}}>
                            </a>
                        </li>!-->
                        <div class="fotorama">
                                <img ng-repeat="image in images" ng-src="{{image.url}}" class="img-thumbnail">
                        </div>
                        <div ng-show="isLandlord">
                            <div ng-show="!showUpload">
                                <button type="button" class="btn btn-default btn-sm" ng-click="addPhotos()">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Click to add Photos
                                </button>
                            </div>
                            <div ng-show="showUpload">
                                <input type="file" accept="image/*" id="imgFile" />
                                <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-upload" ng-click="uploadPic()"></button>
                            </div>
                        </div>



                    </div>
                </div>
                <br>
                <br>
                <hr>
                <div class="row">
                    <div class="col-md-12" id="review">
                        <h3>Reviews</h3>
                        <p>//Disqus plugin to be implemented here</p>

                    </div>
                    <hr>

                </div>
                </div>
            </div>

        </div>
