
<div class="search-div">
    <div class="row">
        <div class="col-sm-3 col-md-3 sidebar">
            <h3>Search Preference</h3>

            <div class="form-group">
                <label class="col-sm-5 control-label filters">Rent Min</label>
                <div class="col-sm-6 filters">
                    <input type="text" class="form-control" placeholder="Min" ng-model="rentMin">
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label filters">Rent max</label>
                <div class="col-sm-6 filters">
                    <input type="text" class="form-control" placeholder="Max" ng-model="rentMax">
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-5 control-label filters">Beds</label>
                <div class="col-sm-6 filters">
                    <input type="text" class="form-control" placeholder="Beds" ng-model="beds">
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label filters">Baths</label>
                <div class="col-sm-6 filters">
                    <input type="text" class="form-control" placeholder="Baths" ng-model="baths">
                </div>

            </div>


          <!--  <div class="form-group">
                <label class="col-sm-5 control-label filters">Available from</label>
                <div class="col-sm-6 filters">
                    <input placeholder="Starting from" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  id="date" ng-model="date">
                </div>
            </div>!-->

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5 filters">
                    <a type="submit" class="btn btn-default btn-block" ng-click="filterList()">Search</a>
                </div>
            </div>

        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
            <!--<div class="form-group sortby">
                <label class="col-sm-3 control-label">Sort By</label>
                <div class="col-sm-6">

                    <select class="form-control">
                        <option value="match">Distance</option>
                        <option value="distance">Beds</option>
                        <option value="any">Rent</option>
                        <option value="any">Any</option>
                    </select>
                </div>
            </div>!-->

            <div class="row stylish-panel">
                <div class="col-md-12" ng-repeat="apartment in actualList">
                    <div class="col-md-3">
                       <img src="http://www.execustay.com/about-execustay/furnished-apartments.jpg" alt="Texto Alternativo" class="img-square img-thumbnail thumbs">
                    </div>
                    <div class="col-md-14">
                        <p>Beds:{{apartment.beds}} Baths:{{apartment.baths}} Rent:${{apartment.rent}}</p>
                        <p>Location:{{apartment.address}}</p>
                        <p>Available from {{apartment.startDate}}</p>

                        <p>
                            <span ng-repeat="amenities in apartment.amenities" class="label label-info tags">{{amenities}}</span>
                        </p>
                        
                        <a class="btn btn-primary" ng-click="browseApartment(apartment)">View Apartment </a>
                    </div>
                </div>



            </div>


        </div>
    </div>
</div>
