
<div class="search-div">
    <div class="row">
        <div class="col-sm-3 col-md-3 sidebar">
            <h3>Search Preference</h3>

            <div class="form-group">
                <label class="col-md-3 control-label filters">Rent</label>
                <div class="col-sm-4 filters">
                    <input type="text" class="form-control" placeholder="Min">
                </div>
                <div class="col-sm-4 filters">
                    <input type="text" class="form-control" placeholder="Max">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 control-label filters">Zip</label>
                <div class="col-sm-6 filters">
                    <input type="text" class="form-control" placeholder="01234">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label filters">Distance</label>
                <div class="col-sm-6 filters">
                    <select class="form-control">
                        <option value="5orless"><5 miles</option>
                        <option value="10orless"><10 miles</option>
                        <option value="20orless"><20 miles</option>
                        <option value="any">Any</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label filters">Available from</label>
                <div class="col-sm-6 filters">
                    <input placeholder="Starting from" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  id="date">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5 filters">
                    <a type="submit" class="btn btn-default btn-block" >Search</a>
                </div>
            </div>

        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-22 col-md-offset-3">
            <div class="form-group sortby">
                <label class="col-sm-3 control-label">Sort By</label>
                <div class="col-sm-6">

                    <select class="form-control">
                        <option value="match">Distance</option>
                        <option value="distance">Beds</option>
                        <option value="any">Rent</option>
                        <option value="any">Any</option>
                    </select>
                </div>
            </div>

            <div class="row stylish-panel">
                <div class="col-md-22">
                    <div class="col-md-4">
                       <img src="http://www.execustay.com/about-execustay/furnished-apartments.jpg" alt="Texto Alternativo" class="img-square img-thumbnail thumbs">
                    </div>
                    <div class="col-md-14">
                        <p>Beds:2 Baths:2 Rent:$2400</p>
                        <p>Location:Waltham,MA</p>
                        <p>Distance 1 mile | Available from 08/01/2015</p>
                        <p> Washer | Dryer |  AC </p>
                        
                        <a href="#/apartments" class="btn btn-primary">View Apartment </a>
                    </div>
                </div>

                <div class="col-md-22">
                    <div class="col-md-4">
                        <img src="http://www.execustay.com/about-execustay/furnished-apartments.jpg" alt="Texto Alternativo" class="img-square img-thumbnail thumbs">
                    </div>
                    <div class="col-md-14">
                        <p>Beds:2 Baths:2 Rent:$2400</p>
                        <p>Location:Waltham,MA</p>
                        <p>Distance 1 mile | Available from 08/01/2015</p>
                        <p> Washer | Dryer |  AC </p>
                        
                        <a href="#/apartments" class="btn btn-primary">View Apartment </a>
                    </div>
                </div>

                <div class="col-md-22">
                    <div class="col-md-4">
                        <img src="http://www.execustay.com/about-execustay/furnished-apartments.jpg" alt="Texto Alternativo" class="img-square img-thumbnail thumbs">
                    </div>
                    <div class="col-md-14">
                        <p>Beds:2 Baths:2 Rent:$2400</p>
                        <p>Location:Waltham,MA</p>
                        <p>Distance 1 mile | Available from 08/01/2015</p>
                        <p> Washer | Dryer |  AC </p>
                        
                        <a href="#/apartments" class="btn btn-primary">View Apartment </a>
                    </div>
                </div>

                <div class="col-md-22">
                    <div class="col-md-4">
                        <img src="http://www.execustay.com/about-execustay/furnished-apartments.jpg" alt="Texto Alternativo" class="img-square img-thumbnail thumbs">
                    </div>
                    <div class="col-md-14">
                        <p>Beds:2 Baths:2 Rent:$2400</p>
                        <p>Location:Waltham,MA</p>
                        <p>Distance 1 mile | Available from 08/01/2015</p>
                        <p> Washer | Dryer |  AC </p>
                        
                        <a href="#/apartments" class="btn btn-primary">View Apartment </a>
                    </div>
                </div>

                <div class="col-md-22">
                    <div class="col-md-4">
                        <img src="http://www.execustay.com/about-execustay/furnished-apartments.jpg" alt="Texto Alternativo" class="img-square img-thumbnail thumbs">
                    </div>
                    <div class="col-md-14">
                        <p>Beds:2 Baths:2 Rent:$2400</p>
                        <p>Location:Waltham,MA</p>
                        <p>Distance 1 mile | Available from 08/01/2015</p>
                        <p> Washer | Dryer |  AC </p>
                        
                        <a href="#/apartments" class="btn btn-primary">View Apartment </a>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
