<br>

<div class="col-md-6 col-md-offset-3 main">

    <div class="row signin-box" >
        <br><br>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <a type="submit" href="profile.html">Sign in using your Facebook account</a>
                </div>
                <br>
                <div class="col-sm-offset-4 col-sm-6">
                    <p>Or Signin with your Roomies account</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Password</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control"  placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Are you a landlord/broker?</label>
                <div class="col-sm-5">
                    <input type="radio"  value="yes"> Yes    <input type="radio"  value="no" > No
                </div>

            </div>

            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-3">
                    <a type="submit" class="btn btn-default btn-block" href="#/profile">Sign In</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-3">
                   <a type="submit" class="btn btn-default btn-block" href="#">Forgot Password?</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <h6>By clicking Sign In you agree to our <a href="#">Terms & Privacy Policy</a></h6>
                </div>
            </div>

        </form>

    </div>
</div>

