
<br>
<br>

<div class="col-md-6 col-md-offset-3 main" ng-controller="SignupController">
      <ul class="nav nav-tabs signup-tab">
        <li role="presentation" class="active"><a href="#/signup">I am looking for Roommates</a></li>
        <li role="presentation"><a href="#/landlord-signup">I want to list property</a></li>
    </ul>

    <div class="row signup-box" >
        <br><br>
        <form class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="First Name" ng-model="user.userDetails.firstName" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Last Name" ng-model="user.userDetails.lastName" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" placeholder="Email" ng-model="user.userDetails.email" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Password</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control"  placeholder="Password" ng-model="user.userDetails.password" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">I am looking for</label>
                <div class="col-sm-5">
                    <select class="form-control" ng-model="user.userPref.lookingFor">
                        <option value="Roommates and Apartments">Roommates and Apartments</option>
                        <option value="Roommates">Roommates</option>
                        <option value="Apartments">Apartments</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-3">
                    <a type="submit" class="btn btn-default btn-block" ng-click="register()">Sign me up</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <h6>By clicking Sign Up you agree to our <a href="#/">Terms & Privacy Policy</a></h6>
                </div>
            </div>

        </form>

    </div>
    </div>
