

<div class="search-div">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="aptdetails col-md-12">

                    <div class="col-md-8" ng-show="editProfileShow">
                        <p>{{landlord.firstName}} {{landlord.lastName}}</p>
                        <p>{{landlord.email}}</p>
                        <p>{{landlord.phone}}</p>
                        <p>{{landlord.type}} </p>
                        <p>Number of properties:{{landlord.listings.length}}</p>
                        <button type="button" class="btn btn-default btn-sm" ng-click="editProfile()">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                        </button>
                    </div>
                    <div class="col-md-8" ng-show="!editProfileShow">
                        <p>
                            <input type="text" placeholder="FirstName" ng-model="landlord.firstName">
                            <input type="text" placeholder="LastName" ng-model="landlord.lastName">  </p>
                        <p><input type="email" placeholder="Email" ng-model="landlord.email"></p>
                        <p><input type="tel" placeholder="Phone" ng-model="landlord.phone"></p>
                        <p>{{landlord.type}} </p>
                        <p>Number of properties:{{landlord.listings.length}}</p>
                        <button type="button" class="btn btn-default btn-sm" ng-click="saveProfile()">
                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
                        </button>

                    </div>
                </div>
            </div>
            <hr>

            <div class="row" ng-repeat="listing in landlord.listings">
                <div class="col-md-6">
                    <p>Beds:{{listing.beds}} Baths:{{listing.baths}} Rent:${{listing.rent}}</p>
                    <p>Available from {{listing.startDate}}</p>
                    <p>{{listing.amenities}}</p>
                    <p>Address: {{listing.address}}</p>
                    <br>
                    <br>
                    <hr>

                </div>

            <br>
            <br>
            <hr>
                <button type="button" class="btn btn-default btn-sm" ng-click="editListing(listing)">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Listing
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-click="deleteListing(listing.userId,listing._id)">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Delete Listing
                </button>
        </div>

            <div class="row">
                <div class="col-md-12" id="review">
                    <button type="button" class="btn btn-default btn-sm" ng-click="showModal()"> Click to upload a new listing</button>
                </div>
                <hr>

            </div>
            </div>
        </div>
    </div>

    </div>
        <div id="myModal" class="modal fade" role="dialog" >
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create New Listing</h4>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tbody>
                            <tr>
                                <td> <input type="text" class="form-control" id="address"  placeholder="Address" ng-model="newListing.address"></td>

                            </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                            <tr>
                                <td><input type="number" class="form-control "  placeholder="Beds" ng-model="newListing.beds"></td>
                                <td> <input type="number" class="form-control"  placeholder="Bath" ng-model="newListing.baths"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>

                            <tr>
                                <td> <input type="text" class="form-control "  placeholder="Rent" ng-model="newListing.rent"></td>
                                <td><input placeholder="Available from" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  id="date" ng-model="newListing.startDate"></td>

                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="createListing()" data-dismiss="modal">Create</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </div>






