    <br>
    <br>

    <div class="col-md-6 col-md-offset-3 main">
        <ul class="nav nav-tabs signup-tab">
            <li role="presentation"><a href="#/signup">I am looking for Roommates</a></li>
            <li role="presentation" class="active"><a href="#/landlord-signup">I want to list property</a></li>
        </ul>

        <div class="row signup-box" >
            <br><br>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-6">
                        <a type="submit" href="#/">Sign up using your Facebook account</a>
                    </div>
                    <br>
                    <div class="col-sm-offset-5 col-sm-4">
                        <p>Or Create your account</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="First Name" ng-model="landlord.firstName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Last Name" ng-model="landlord.lastName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" placeholder="Email" ng-model="landlord.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control"  placeholder="Password" ng-model="landlord.password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">I am a</label>
                    <div class="col-sm-5">
                            <input type="radio"  value="Landlord" ng-model="landlord.type" name="type"> Landlord
                            <input type="radio"  value="Broker" ng-model="landlord.type" name="type"> Broker
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Please provide listing details</label>
                    <div class="col-sm-5">
                        <table>
                            <tbody>
                            <tr>
                                <td> <input type="text" class="form-control" id="address" placeholder="Address" size="30" ng-model="listing.address"></td>

                            </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                            <tr>
                                <td><input type="number" class="form-control "  placeholder="Beds" ng-model="listing.beds"></td>
                                <td> <input type="number" class="form-control"  placeholder="Bath" ng-model="listing.baths"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>

                            <tr>
                                <td> <input type="text" class="form-control "  placeholder="Rent" ng-model="listing.rent"></td>
                                <td><input placeholder="Available from" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  id="date" ng-model="listing.startDate"></td>

                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-3">
                        <a type="submit" class="btn btn-default btn-block" ng-click="register()">Sign me up</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4">
                        <h6>By clicking Sign Up you agree to our <a href="#/">Terms & Privacy Policy</a></h6>
                    </div>
                </div>

            </form>

        </div>
    </div>
